

.hero-container {
  /* background: url('public/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

/* the fix */
.hero-container > h1 {
  color: #fff;
  position: absolute;
  font-size: 100px;
  margin-top: -520px;
  z-index: 1;
  
}

.hero-container > p {
  margin-top: 250px;
  margin-left: 0%;
  color: #fff;
  font-size: 38px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    z-index: 1;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 2rem;
}

/* .hero-btns {
  margin-top: 32px;
  z-index: 1;
}

.hero-btns .btn {
  margin: 6px;
  z-index: 1;
} */

.fa-play-circle {
  margin-left: 4px;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -520px;
    z-index: 1;
    width: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 600px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -740px;
    z-index: 1;
    width: 100%;
    overflow: auto;
  }

  .hero-container > p {
    font-size: 30px;
    z-index: 1;
    width: 100%;
    overflow: auto;

  }

  /* .btn-mobile {
    display: block;
    text-decoration: none;
    z-index: 1;
  }

  .btn {
    width: 100%;
    z-index: 1;
  } */
}


@media only screen and (min-width: 2000px) {
  .blur {
    font-size: 50px;
    margin-top: -100px;
    z-index: 1; 
    margin: 0 auto;
    
    width: 100%;
    overflow: auto;
  }

  .hero-container > h1 {
    font-size: 100px;
    top:20%;
    width:1200px;
    z-index: 1; 
    margin: 0 auto;
    width: 100%;
    overflow: auto;
  }

  .hero-container > p {
    font-size: 30px;
    z-index: 1;
    width: 100%;
    overflow: auto;

  }

}

@media only screen and (min-height: 1500px) {
  
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -520px;
    z-index: 1; 
    height: 1000px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
  }

  .hero-container > p {
    font-size: 30px;
    z-index: 1;
    width: 100%;
    overflow: auto;

  }

}

/* .blur-background {
  position: relative;
  background-image: url('your-image-url.jpg');
  padding: 20px;
} */

.blur {
  position:absolute;
  top: 75vh;
  left: 300;
  width: 45%;
  height: 30%;
  backdrop-filter: blur(40px);
  clip-path: inset(20px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  z-index: -1;
}

.blur2 {
  position:absolute;
  top:20;
  left: 500;
  width: 50%;
  height: 20%;
  backdrop-filter: blur(40px);
  clip-path: inset(20px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  z-index: -1;
}

.heading {
  font-size: 36px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

img.back {
  position:absolute;
  height:100%;
  width: 100%;
  z-index: -1;
  

 }