:root {
  --primary: #5e5e5e;
}

.lbtn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.lbtn--primary {
  background-color: var(--primary);
  color: #27bd3b;
  border: 1px solid var(--primary);
}

.lbtn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.lbtn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.lbtn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.lbtn--large:hover,
.lbtn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
