/* Formating for all pages */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  

h1 {
    text-align: center;
}


video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

/* Needs a fix */
img {
  /* background-color: rgb(28, 149, 40); */
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

form{
    
  margin-top: 20px;
  margin-right: 10px;
  padding:0px; 
  display:inline;
  color: #fbfafa;
}


.form input {
  margin-right: 0.5em;
}

.form label {
  float: left;
  margin-right: 0.5em;
  color: blue;
}  

p {

}

.blurH {
  position:absolute;
  top:300;
  left: 200;
  width: 45%;
  height: 40%;
  backdrop-filter: blur(40px);
  clip-path: inset(20px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  z-index: -1;
}

/* body {
  overflow-x: scroll;
} */

/* body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

/* hide the scrollbar by default */
/* .scrollable-content {
  overflow: hidden;
}

/* show the scrollbar when content overflows */
/* .scrollable-content::-webkit-scrollbar {
  width: 10px;
}
.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollable-content::-webkit-scrollbar-thumb {
  background: #888;
} */ 